body {
  font-family: 'Finlandica', sans-serif;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
.ml-10 {
  margin-left: 6%;
}
.ml-5 {
  margin-left: 3%;
}
.mr-10 {
  margin-right: 6%;
}
.mr-5 {
  margin-right: 3%;
}
.orange-color {
  color: orange;
}
.flexiable-container {
  display: flex;
  margin-bottom: 150px;
}
.half-width {
  width: 50%;
  padding-left: 5%;
}
.half-width img {
  width: 80%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orangered, tomato);
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.top-banner {
  background-image: url(./images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-big {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experiance-area {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
.experiance-item {
  width: 41%;
  padding-left: 35px;
  padding-right: 20px;
  padding-bottom: 100px;
  box-shadow: 10px 10px 40px 15px gray;
}
.experiance-item:first-child {
  border-left: 8px solid tomato;
}
.experiance-item:last-child {
  border-left: 8px solid blue;
}
.experiance-item h3 {
  padding-top: 25px;
  padding-bottom: 20px;
}
